
.filter__categories{
    width: 100%;
    max-width: 268px;
}
.filter{
    margin-bottom: 20px;
}
.filter__list{
    overflow: auto;
    max-height: 300px;
    border-radius: 4px;
    & .filter__item{
        & span{
            padding: 8px 10px;
    display: flex;
    font-size: 15px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
        }
        &:hover{
            color: #363636;
    background-color: #def8e3;
        }
    }
}

.filter__title{
    display: flex;
    padding: 10px 15px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;

    & span{
        
        font-size: 15px;
        font-weight: 700;
        
    }
}

.filter__content{
    border: 1px solid #e9e9e9;
    background-color: #f9f9f9;
    
}

@media(max-width: 768px){
    .filter{
        display: none;
    }
    .filterChecbox{
        display: none;
    }
    .filter__multi__select{
        display: none;
    }
    .bread__crumbs{
        display: none !important;
    }
}