@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ProximaNova';
    src: local('ProximaNova'),
      url('./fonts/ProximaNova-Bold.1f4f14db.woff2') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Tajawal';
    src: local('Tajawal'),
      url('./fonts/Tajawal-Bold.b347d133.woff2') format('truetype');
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    background: transparent;
}

body {
    padding: 0;
    margin: 0;
    background: transparent;
    font-family: "ProximaNova","Tajawal";
    /* font-family: 'Tajawal', sans-serif !important; */
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    padding: 0;
    margin: 0;
    font-family: "ProximaNova";

    /* font-family: 'Tajawal', sans-serif !important; */
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    text-decoration: none;
}
a{
    text-decoration: none !important;
}
img {
    display: block;
}
.content{
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    margin: 0px auto;
    
}
.wrapper{
    
}
