

.swiper-button-prev, .swiper-button-next{
    height: 60px !important;
    background-color: #f4f3f3;
    top: 40% !important;
    z-index: 20;
    &.swiper-button-disabled{
        opacity: 1 !important;
    }
  }

  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 18px !important;
    color: rgb(96, 96, 96);
    font-weight: 700;
  
  }


  .styles_addtocart_box__4cn_x{
    display: none;
  
  }
  .styles_miniature_thumb__pC4As {
    height:100%;

  }
  .styles_miniature_image__XbgdR{

    position: relative;
  }
  .products__item__add__btn.main{
    z-index: 100 !important;
  }
  @media(max-width:540px){
    .styles_myitems_item__XSuD6{
      display: block !important;
    }
  }